@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script>
        $(document).ready(function () {

            getAllUsers();

            // $("body").on("click", ".btn-get-user", function () {
            //     let id = $(this).data("userid");
            //     getUser(id);
            // });

            let row = function (user) {
                return "<tr data-rowid='" + user.Id + "'><td>" + user.Id + "</td>" +
                    "<td>" + user.Username + "</td> <td>" + user.Password + "</td>" +
                    "<td><a href='javascript: void (0)' data-userid='" + user.Id +
                    "' class='btn btn-success btn-get-user'>Get User</a></td></tr>";
            };


            function getAllUsers() {
                $.ajax({
                    url: '@Url.Action("GetUsers", "Users")',
                    type: 'GET',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        let rows = "";
                        let users = JSON.parse(response);
                        $.each(users, function (index, user) {
                            rows += row(user);
                        })
                        $("#user-list").html(rows);
                    },
                    error: function (jqXHR, statusText, error) {
                        console.log(jqXHR.status + '\n' + statusText + '\n' + error);
                    }
                });
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="row">
    <div class="col-sm-12">
        <form>
            <input type="hidden" id="hdn-user-id" />
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter Your Username" value="" autocomplete="off" required>
                </div>
                <div class="col-sm-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Your Password" value="" autocomplete="off" required>
                </div>
                
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-primary" id="btn-insert-user">Save User</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-info" id="btn-update-user">Update User</a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" class="btn btn-danger" id="btn-delete-user">Delete User</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </form>

    </div>
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Username</td>
                    <td>Password</td>
                </tr>
            </thead>
            <tbody id="user-list">
            </tbody>
        </table>
    </div>
</div>